<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>Competencyframework</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EditerSkillServlet</display-name>
    <servlet-name>EditerSkillServlet</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.EditerSkillServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SkillServlet</display-name>
    <servlet-name>SkillServlet</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.SkillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditerSkillServlet</servlet-name>
    <url-pattern>/EditerSkillServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SkillServlet</servlet-name>
    <url-pattern>/SkillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>supprimerServlet</display-name>
    <servlet-name>supprimerServlet</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.supprimerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>supprimerServlet</servlet-name>
    <url-pattern>/supprimerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscriptionServlet</display-name>
    <servlet-name>InscriptionServlet</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.InscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionServlet</servlet-name>
    <url-pattern>/InscriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnexionServlet</display-name>
    <servlet-name>ConnexionServlet</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.ConnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionServlet</servlet-name>
    <url-pattern>/ConnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditerProfileServlet</display-name>
    <servlet-name>EditerProfileServlet</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.EditerProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditerProfileServlet</servlet-name>
    <url-pattern>/EditerProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerProfileServlet</display-name>
    <servlet-name>SupprimerProfileServlet</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.SupprimerProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerProfileServlet</servlet-name>
    <url-pattern>/SupprimerProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssociateSkillsToProfileServlet</display-name>
    <servlet-name>AssociateSkillsToProfileServlet</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.AssociateSkillsToProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssociateSkillsToProfileServlet</servlet-name>
    <url-pattern>/AssociateSkillsToProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAssociatedProfilesServlet</display-name>
    <servlet-name>ViewAssociatedProfilesServlet</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.ViewAssociatedProfilesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAssociatedProfilesServlet</servlet-name>
    <url-pattern>/ViewAssociatedProfilesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditInformationServlet</display-name>
    <servlet-name>EditInformationServlet</servlet-name>
    <servlet-class>ma.ac.esi.referentielCompetences.controleur.EditInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditInformationServlet</servlet-name>
    <url-pattern>/EditInformationServlet</url-pattern>
  </servlet-mapping>
</web-app>